<% content_for :page_header, "About SEO Store" %>
<% content_for :page_description, "Allow us to introduce ourselves..." %>

<div class="container">
  <p>SEO store was founded in 2017 by Efstathios Stivaros. SEO store is a webstore which allows you to purchase SEO packages and services, enabling you to take your website to the next level.</p>  
</div>

