<% content_for :page_header, "Welcome to SEO Store" %>
<% content_for :page_description, "Your source for SEO support and services" %>

<div class="container">
  <%= image_tag("seo-1910427_640.png", class: "img-responsive") %>
</div>