<table>
  <tbody>
    <tr>
      <td><p style="font-family:verdana,sans-serif">You have received a new contact form message. The contents of the message are:</p></td>
    </tr>
    <tr>
      <td><p style="font-family:verdana,sans-serif"><%= @message %></p></td>
    </tr>
  </tbody>
</table>