<table>
  <tbody>
    <tr>
      <td><p style="font-family:verdana,sans-serif">The team at SEO Store would like to thank you for your purchase, please see details below:</p></td>
    </tr>
    <tr>
      <td>
          <h3 style="font-family:verdana,sans-serif"><%= @name.titlecase %></h3>
          <p style="font-family:verdana,sans-serif"><%= @description %></p>
      </td>
    </tr>
    <tr>
      <td><p style="font-family:verdana,sans-serif"><strong>Total Cost: <%= @price %></strong></p></td>
    </tr>
  </tbody>
</table>