/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 /* Global Styles */
 
 p {
   color: #0E1116;
   font-size: 1.5em;
 }

/* Sticky Header and Footer Styles */

html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 350px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  background-color: #CB9CF2;
  color: #616283;
  clip-path: polygon(
    0 3vw,
    100% 0,
    100% 100%,
    0 100%
  );
}
.footer-container {
    padding-top: 6vw;
}

/* Bootstrap Navigation Overwrite */

.navbar-default .navbar-brand {
  color: #374A67;
}

.navbar-default .navbar-brand:hover {
  transition: color 1s ease;
  color: #616283;
}

.navbar-default .navbar-nav > li > a {
  color: #616283;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar {
    border: none;
}

.navbar-default {
    background-color: #CB9CF2;
}

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

/* Header */

.header {
  background-color: #CB9CF2;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 3vw),
    0 100%
  );
  min-height: 100px;
  padding-bottom: 3vw;
  margin-bottom: 3vw;
}

.header h1 {
  color: #374A67;
}

.header p {
  color: #616283;
  font-size: 2em;
}

/* Footer */

.footer p {
  color: #374A67;
  font-size: 1.25em;
}