// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-spacer {
  margin-bottom: 1.5%;
}

.product-description {
  font-size: 1.75em;
  margin-bottom: 5%;
}

.product-price {
  color: #616283;
  font-size: 2em;
}