<% content_for :page_header, "Products" %>
<% content_for :page_description, "Our SEO packages and services" %>

<div class="row product-spacer">
  <%= link_to 'New Product', new_product_path, class: 'btn btn-primary btn-lg pull-right' %>
</div>

<% cache(cache_key_for_products) do %>
  <%= render 'product' %>
<% end %>